<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script>
        function myFunction(){
            var a=document.getElementById("delete").parentNode.remove();
        }
    </script>
    <style>
        #div1{
            background-image: url("https://free4kwallpapers.com/uploads/originals/2020/06/05/dark-minimal-wallpaper.png");
            width:100%;
            height: 22cm;
            background-size: cover;
            background-repeat:no-repeat;
            margin-top: -20px;
            background-attachment: fixed;
        }
        #todo{
            flex-wrap: wrap;
        }
        #personal{
            width:20%;
            height: 10cm;
            
            background-image: url("https://i.pngimg.me/thumb/f/720/comrawpixel6007769.jpg");
            margin: 6%;
            margin-left: 40%; 
            background-size: cover;
            background-repeat:no-repeat;
            border-radius: 15% 15% 15% 15%;
        }
        h1{
            
            text-align: center;
            font-family: cursive;
            color: antiquewhite;
        }
        h3{
            
            text-align: center;
            font-family:Arial, Helvetica, sans-serif;
            text-decoration: underline;
            
        }
        form{
            margin-left: 2%;
            font-size: large;
        }
        .del{
            width:100%;
            height: 7cm;
        }
        #notes{
            width:80%;
            margin-left: 10%;
        }
        .delt{
            margin-left:16%;
            
        }
    </style>
</head>
<body class=" bg-black">
    <div id="div1">
        <div id="form-add" class="container pt-5">
            <h1>ToDo List </h1>
            <form method="post" action="/add" class="form d-flex mt-3 mb-3 mr-3">
                <input type="text" name="notes" id="note" class="form-control " placeholder="Enter task" required>
                
                <input type="submit" name="add" value="Add" class="btn btn-success ml-3">
            </form>
        </div>
        <div>
            <h1><%=day%></h1>
        </div>
        <div class="d-flex" id="todo">
           <div id="personal">
                <h3>TODO List</h3>
                <form method="post" action="/delete" class="form mt-3 mb-3 mr-3">
                    <div class="del">
                    <input type="text" name="notes" id="notes" class="form-control " placeholder="Update task" >
                    <ul>
                        <% name.forEach(function(i){
                            %>
                            <li class="list"><input type="radio" name="checkbox" value="<%=i.id%>" class="mr-1"><label for="<%=i.id%>"><%=i.task%></label></li>
                            <%
                        }) %>
                        
                    </ul>
                    </div>
                    <button class="delt btn btn-dark">Update</button>
                    <input type="submit" value="Delete" class="delt btn btn-danger">
                </form>
           </div>
           
        </div>
    </div>

    





<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>